<div class="wrapEndPage">
<div class="endContainer">
  <p>Congratulations on making through to the dawn</p>
  <p id="play">Restart the Game?</p>
  <div id="button">
    <%= link_to( image_tag(image_path('play_button.png')), pages_leap_path() ) %>
  </div>
</div>
</div>
