<section class="panel s1">
	<div id="title">
		<p>Before the Dawn</p>
	</div>
</section>
<section class="panel s2">
	<b>TWO</b>
</section>
<section class="panel s3">
	<b>THREE</b>
</section>
<section class="panel s4">
	<b>FOUR</b>
	<div class="startGame">
		<div id="button">
		  <%= link_to( "Begin", pages_leap_path() ) %>
		</div>
	</div>
</section>
